@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
:root {
  --theme-color: hsl(211, 100%, 65%);
  --theme-color-2: hsl(33, 100%, 60%);
}

h1 {
  color: white;
}

header span {
  color: white;
  font-weight: 3rem;
  font-family: sans-serif;
  font-weight: bold;
}

header .instant-share-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  background-color: var(--theme-color);
  color: white;
  padding: 0.75rem;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 1rem;
  border: 2px dotted white;
}

.select-file-div {
  width: 15rem;
  height: 15rem;
  background-color: hsl(211, 100%, 80%);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  border: 3px dotted black;
  cursor: pointer;
}

.select-file-div p {
  font-family: "Montserrat";
  font-weight: 900;
}

.upload-btn {
  padding: 0.75rem;
  font-size: 1.75rem;
  width: 15rem;
  margin: 1rem auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 2px solid black;
  box-shadow: 1px 1px 10px 1px black;
}

.display-link-div {
  background-color: hsl(211, 100%, 40%);
  border-radius: 10px 0 0 10px;
  font-family: sans-serif;
  padding: 0.75rem;
  margin: 1rem auto;
}

.display-link-div span {
  font-family: "Montserrat";
  font-weight: 900;
}

.display-link-div p {
  color: white;
  text-align: center;
}

.display-link-div a {
  color: yellow;
  text-decoration: underline;
}

.copy-link-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.copy-link {
  background-color: black;
  width: fit-content;
  padding: 0.9rem;
  border-radius: 0 10px 10px 0;
  transition: 0.2s cubic-bezier(0.1, 0.1, 0.1, 1);
  border: 2px solid black;
}

#copy-icon {
  color: white;
  width: 25px;
  height: 25px;
}

.uploaded-file-link-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}

/* Here are just some visual styles. 🖌 */

.container {
  place-items: center;  
  text-align: center;
}

.title-inst {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px){
  img{
    width: 80%;
  }
}